<footer>
    <div class="footer-container">
        
        <div class="footer-grid trademark">
            <div class="trademark">&copy;2020 - Designed and Developed by Silvia Kay</div>
        </div>
    </div>
</footer>