<div class="head">
    <button class="nav-btn open-btn">
        <i class="fas fa-bars"></i>
    </button>

    <div class="search">
        <input type="text" class="search-input" placeholder="Search...">
        <button class="search-btn">
            <i class="fas fa-search"></i>
        </button>
    </div>

    <h1>My Library</h1>

    <div class="your-account">
        <div class="log-in">
            <button class="log-in-btn">Log In</button>
        </div>
        <div class="subscribe">
            <button class="subscribe-btn">Subscribe</button>
        </div>
    </div>

</div>