<nav>
    <div class="nav nav-black">
        <div class="nav nav-red">
            <div class="nav nav-white">
                <button class="nav-btn close-btn">
                    <i class="fas fa-times"></i>
                </button>

                <img src="img/logo.jpg" alt="logo" class="logo">

                <ul class="list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Request</a></li>
                    <li><a href="#">Add</a></li>
                    <li><a href="#">Quotes</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>