<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="create.css">
<!------------------------- NAV ----------------------------------------->
<%- include('./partials/nav.ejs') %>
<%- include('./partials/header.ejs') %>
<!----------------------- MAIN CONTAINER --------------------------------->

<div class="request-container">

        <h2 class="request-title">CREATE AN ENTRY</h2>
        <div class="form-container">

            <form action="/create" method="post">
                <div class="box one">
                    <label for="title">Title</label>
                    <input class="request-input long" name="bookTitle" type="text">
                </div>
                <div class="box two">
                    <label for="name">Name</label>
                    <input class="request-input long" name="authorName" type="text">
                </div>
                <div class="box three">
                    <div class="three-one">
                        <label for="genre">Genre</label>
                        <input class="request-input half" name="genre" type="text">
                    </div>
                    <div class="three-two">
                        <label class=" half-two" for="release_date">Release Date</label>
                        <input class="request-input half-two" name="releaseDate" type="text">
                    </div>
                </div>
                <div class="box four">
                    <div class="four-one">
                        <label for="page_count">Page Count</label>
                        <input class="request-input half" name="pageCount" type="text">
                    </div>
                    <div class="four-one">
                        <label class=" half-two" for="rating">Rating</label>
                        <input class="request-input half-two" name="rating" type="text">
                    </div>
                </div>
                <div class="box five long">
                    <label for="language">Language</label>
                    <input class="request-input long" name="lang" type="text">
                </div>
                <div class="box six">
                    <textarea name="description" id="description" name="description" cols="82" rows="5"></textarea>
                </div>
                <div class="btn-container">
                    <button class="request-btn">Submit</button>
                </div>
            </form>

        </div>

</div>
<%- include('./partials/footer.ejs') %>

        <script src="public/script.js" async defer></script>
    </body>
</html>
