<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="quotes.css">
<!------------------------- NAV ----------------------------------------->
<%- include('./partials/nav.ejs') %>
<!----------------------- HEADER --------------------------------->
<%- include('./partials/header.ejs') %>
<!----------------------- CONTAINER -------------------->
<div class="-quotes-container">





</div>
<%- include('./partials/footer.ejs') %>

        <script src="public/script.js" async defer></script>
    </body>
</html>
